.FlyoutDrawerWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.3);
    z-index: 98;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    flex-direction: column;
    align-items: flex-end;

    &.HiddeBackground {
        background-color: transparent;
        pointer-events: none;
    }

    .FlyoutDrawer-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        width: 600px;
        background-color: #ffffff;

        .FlyoutDrawer-header {
            padding: 25px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 25px 16px;
            border-bottom: 1px solid #e6e6e6;

            > div {
                display: flex;

                svg {
                    cursor: pointer;
                    height: 24px;
                    width: 24px;
                }
            }

            .FlyoutDrawer-mainTitle {
                font-weight: bold;
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                font-size: 24px;
                text-align: center;
                color: #212121;
            }
        }

        .FlyoutDrawer-content {
            overflow-y: auto;
            height: 100%;
            padding: 0 45px 25px 25px;

            .CollapsePanelContainer {
                border-top: 1px solid #e6e6e6;
            }
        }

        .FlyoutDrawer-footer {
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 24px;
            button {
                margin: 0 8px;
            }
        }
    }

    .animation-fadeInRight {
        -webkit-animation-name: animation-fadeInRight;
        animation-name: animation-fadeInRight;
    }

    .animation-fadeOutRight {
        -webkit-animation-name: animation-fadeOutRight;
        animation-name: animation-fadeOutRight;
    }

    .animation-animated,
    .animation-fast {
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
}

@keyframes animation-fadeInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes animation-fadeOutRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes animation-fadeOut {
    0% {
        background-color: black;
    }
    100% {
        background-color: transparent;
    }
}
